{% extends "base.html" %}
{% block title %}Об авторе{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 p-3">
    <h3>Иван Готовец</h3>
    <h6>Программист, фотограф, спортсмен, килограмм</h6>
    <br>
      <p>
        Мои родители из мира геологии. Заложили в меня страсть к
        путешествиям и стремление к новому.
        <br>
        Мама - путешественница от бога, оптимист. Обожаю её.
        <br>
        Папа устраивал нам с братом настоящую спарту. Эдакий царь Леонид.
        <br>
        Брат - консультант в BCG NY. Очень талантливый, горжусь им. И хотя мы
        из разных миров, это не мешает нам тепло общаться.
      </p>
      <p>
        Мне прочили карьеру в геологии или иностранных языках, но я выбрал
        математику и IT. Работал программистом, консультантом, финансовым
        аналитиком. Классно прожил несколько жизней.
        <br>
        На самом деле я всегда просто занимался любимым делом и радовался жизни.
        Я и сейчас делаю то же самое.
      </p>
      <p>
        <i>
        Понял, что в какой-то момент свернул не на ту дорожку и решил
        вернуться к истокам.
        </i>
        Спроси меня, почему я снова вернулся в IT - понятия не имею. Дело
        выбирает нас, не мы его. Это как белый танец на сельской дискотеке.
      </p>
      <p>
        Каждый может стать кем хочет. Любой бэкграунд пригодится. Главное -
        пропустить его через себя и вычленить то, что важно.
        Я искренне считаю, что неважно, как и когда ты пришел в профессию.
        Важно в нее прийти, а не зайти и выйти. И сделать так, чтобы твое
        пребывание было полезным.
      </p>
  </div>
</div>
{% endblock %}