{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 p-3">
    <h3>О проекте</h3>
    <p>
      Это учебный проект - платформа для блогов. Он готовился для курса
      Яндекса по бэкенд-разработке на Python. Проект собран на Django c
      использованием СУБД PostgreSQL, шаблонов HTML/CSS на основе стилей
      Bootstrap. Он работает как WSGI приложение на удаленном сервере в
      Docker-контейнерах. Все написанные модули покрыты автотестами.
    </p>
    <h3>Вот, что я знаю:</h3>
    <p>
      Python, SQL, Django, PostgreSQL, HTML, CSS, Bootstrap, REST
      API, JSON, OAuth, DRF, Django REST Framework, GIT, Unittest
    </p>
    <a href="https://github.com/ivangotovets/hw05_final.git">
      <b>Репозиторий проекта на GitHub</b>
    </a>
  </div>
</div>
{% endblock %}