<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    {% include 'includes/imports.html' %}
    <title>
      {% block title %}
        New tab
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}
    </header>
    <main>
      {% block content %}
        <h1>Page under construction =)</h1>
      {% endblock %}
    </main>
    <footer class="border-top text-center py-3">
      {% include 'includes/footer.html' %}
    </footer>
  </body>
</html>